<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Let's Talk - Chat App</title>
  </head>

  <body>
    <header>
      <h1>Let's Talk</h1>
    </header>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button>Send</button>
    </form>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
	  <script>
		var socket = io.connect('http://localhost:8080');
            	$('form').submit(function(e){
                	e.preventDefault(); // prevents page reloading
                	socket.emit('chat_message', $('#txt').val());
                	$('#txt').val('');
                	return false;
            	});

            	socket.on('chat_message', function(msg){
                	$('#messages').append($('<li>').html(msg));
            	});

            	socket.on('is_online', function(username) {
                	$('#messages').append($('<li>').html(username));
            	});

            	var username = prompt('Please tell me your name');
		socket.emit('username', username);
    </script>
  </body>
</html>
